@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.titulo{
    color: white;
    margin-right: 110px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#cliente{
    color: #249e65;
}
#admin{
    color: #dc3545;
}
#vendedor{
    color: #0d6efd;
}
.modal-content{
    --bs-modal-bg: rgb(33, 37, 41);
}
.formulario{
    width: 100%;
    height: 100%;
}
.loginicon{
    max-width: 150px;
    border-radius: 70px;
    margin: 20px 175px;
    
}
.titulogin{
    text-align: center;
    color: white;
    font-weight: bold;
}